<div class="container">
  <h3>Rentrez les infos du film que vous souhaitez ajouter</h3>
  <form>
    <div class="form-group">
      <label for="name">Nom</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="model.nom" name="nom" #nom="ngModel">
    </div>

    <div class="form-group">
      <label for="realisateur">Réalisateur</label>
      <input type="text" class="form-control" id="realisateur" required [(ngModel)]="model.realisateur" name="realisateur" #realisateur="ngModel">
    </div>

    <div class="form-group">
      <label for="type">Type</label>
      <select class="form-control" id="type" required [(ngModel)]="model.type" name="type" #type="ngModel">
        <option *ngFor="let type of types" [value]="type">{{type}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="date">Date</label>
      <input type="text" class="form-control" id="date" required [(ngModel)]="model.date" name="date" #date="ngModel">
    </div>

    <div class="form-group">
      <label for="duree">Durée</label>
      <input type="text" class="form-control" id="duree" required [(ngModel)]="model.duree" name="duration" #duration="ngModel">
    </div>

    <div class="form-group">
      <label for="franchise">Franchise</label>
      <input type="text" class="form-control" id="franchise" required [(ngModel)]="model.franchise" name="franchise" #franchise="ngModel">
    </div>

    <label for="acteurs">Acteurs</label>
    <ul>
      <li *ngFor="let acteur of model.acteurs">{{acteur.name}}
        <button type="button" (click)="deleteIngredient(acteur.name)">-</button>
      </li>
    </ul>
    <input #newActeurName id="acteurs">

    <button type="button" (click)="addIngredient(newActeurName.value)">Ajouter l'acteur</button>
    <p></p>

    <button type="submit" (click)="onSubmit()" class="btn btn-success" routerLink='/display/{{model.id}}'>Ajouter</button>

  </form>

</div>