<!--The content below is only a placeholder and can be replaced.-->

<body>
  <header>
    <app-banner></app-banner>
  </header>

  <nav>
    <div id="display" routerLink='/display'>
      <fa name="book"></fa>Collection</div>
    <div id="search" routerLink='/search'>
      <fa name="search"></fa>Recherche</div>
    <div id="add" routerLink='/add'>
      <fa name="plus"></fa>Ajout</div>
  </nav>
  <router-outlet id="router"></router-outlet>
</body>