nav{
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    margin: 20px 0;
    width: 100%;
    box-shadow: 2px 2px 0px;
    background-color: rgba(48, 30, 24, 0.65);
    font-size: 18px;
    div{
        border: none;
    }
}

div{
    width: (100% / 5);
    height: 100%;
    padding:20px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    margin-right: 2%;
    margin-left: 2%;
    &:hover{
        background-color: lighten($color: rgba(48, 30, 24, 0.65), $amount: 7);
        font-size: 20px;
        font-style: bold;
        padding: 18px;
    }
}

#display{
    margin-left: (100% / 5);
}

#add{
    margin-right: (100% / 5);
}

h1{
    color: white;
    text-align: center;
    font-size: 36px;
    margin-right: 0;
    margin-left: 0;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

img{
    height: 76px;
}
