nav {
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 20px 0;
  width: 100%;
  -webkit-box-shadow: 2px 2px 0px;
  box-shadow: 2px 2px 0px;
  background-color: rgba(48, 30, 24, 0.65);
  font-size: 18px; }
  nav div {
    border: none; }

div {
  width: 20%;
  height: 100%;
  padding: 20px;
  text-align: center;
  color: white;
  text-transform: uppercase;
  margin-right: 2%;
  margin-left: 2%; }
  div:hover {
    background-color: rgba(72, 45, 36, 0.65);
    font-size: 20px;
    font-style: bold;
    padding: 18px; }

#display {
  margin-left: 20%; }

#add {
  margin-right: 20%; }

h1 {
  color: white;
  text-align: center;
  font-size: 36px;
  margin-right: 0;
  margin-left: 0; }

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

img {
  height: 76px; }

#router{
  height: 100%;
}