<div id="container">
  <div id="message_window">
    <article id="message" class="message is-medium is-link" *ngFor="let mes of list ; let  i=index">
      <div class="message-header">
        <p>{{mes.author}}</p>
        <button class="delete" (click)="delete(i)" aria-label="delete"></button>
      </div>
      <div class="message-body">
        {{mes.message}}
      </div>
    </article>
  </div>
</div>