.container
{
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    background-color: white;
    width: 100%;
}

.form-control
{
    width: 100%;
}

.form-group
{
    width: 100%;
}