@import '../../../node_modules/bulma/sass/utilities/_all';

$hover:rgba(164, 230, 250, 0.3);

@import '../../../node_modules/bulma/sass/elements/table';


div{
    display: flex;
    text-align: center;
}

a{
    text-decoration: none;
    width: 80%;
    margin :20px;
    padding: 20px;
}

.notfound{
    text-align: center;
    justify-content: center;
}

.ensemble{
    border:1px solid black;
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 0px;

}

tbody tr:hover{
    background-color: rgba(164, 230, 250, 0.3);
}

