<div class="ensemble">
  <table class="table is-bordered is-fullwidth" *ngIf="(list[0])">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Réalisateur</th>
        <th>Date</th>
        <th>Type</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th>Nom</th>
        <th>Réalisateur</th>
        <th>Date</th>
        <th>Type</th>
      </tr>
    </tfoot>
    <tbody>
      <tr *ngFor="let recette of list" routerLink='/display/{{recette._id}}'>
        <td>{{recette.nom}}</td>
        <td>{{recette.realisateur}}</td>
        <td>{{recette.date}}</td>
        <td>{{recette.type}}</td>
      </tr>
    </tbody>
  </table>
  <div class="notfound" *ngIf="(!list[0])">Cette recherche ne donne pas de résultat.</div>
</div>
<div class="ensemble" *ngIf="isOnline()">L'utilisateur est connecté</div>