<div class="container">
  <div class="contained"></div>
  <app-loginform class="contained"></app-loginform>
  <div class="contained"></div>
  <app-signupform class="contained"></app-signupform>
  <div class="contained"></div>
</div>