@import '../../../node_modules/bulma/sass/utilities/_all';
@import '../../../node_modules/bulma/sass/elements/button';
@import '../../../node_modules/bulma/sass/components/message';


form{
    margin-top: 5px;
}


#display {
    height : 80%;
}
