<h4>{{name | uppercase }} - Chat</h4>
<app-chat-display id="display" [list]="messages"></app-chat-display>
<form (ngSubmit)="postMessage(newMessage.value)">
  <div class="form-group">
    <textarea type="text" class="form-control" id="message" #newMessage></textarea>
  </div>

  <button type="submit" class="btn btn-success">Post</button>
</form>