@import '../../../node_modules/bulma/sass/utilities/_all';

@import '../../../node_modules/bulma/sass/elements/button';

h1 {
    color: white;
    text-align: center;
    font-size: 36px;
    margin-right: 0;
    margin-left: 0; }
  
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  
  img {
    height: 76px; }