<mat-drawer-container class="example-container" autosize *ngIf="recette">
  <div class="container" *ngIf="recette">

    <div id="title">
      <h2>{{ recette.nom | uppercase }} </h2>
    </div>

    <div class="description">

      <div class="infos">
        <p>Réalisateur : {{recette.realisateur}}</p>
        <p>Date : {{recette.date}}</p>
        <p>Durée : {{recette.duree}}</p>
        <p>Type : {{recette.type}}</p>
        <p>Franchise : {{recette.franchise}}</p>
        <p> Acteurs :</p>
        <ul>
          <li *ngFor="let acteur of recette.acteurs">{{acteur.name}}</li>
        </ul>
      </div>


      <div></div>

    </div>

    <button class="button is-danger is-medium" type="button" (click)="delete(recette._id)">Supprimer le film</button>
    <button class="button is-warning is-medium" type="button" routerLink="/modify" (click)="sendRecipe()">Modifier le film</button>

    <p></p>

    <button class="button is-medium is-focused" type="button" (click)="goBack()">Retour à la collection de films</button>




  </div>
  <mat-drawer #drawer class="example-sidenav" mode="over">
    <div id="chat-bar" class="container">
      <app-chat [name]="recette.name"></app-chat>
    </div>
  </mat-drawer>
</mat-drawer-container>