@import '../../../node_modules/bulma/sass/utilities/_all';

@import '../../../node_modules/bulma/sass/elements/button';

.container{
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    background-color: white;
    width: 55%;
}

.description{
    display: flex;
    justify-content: space-between;
}

.explication{
    text-align: left;
}

#chat{
    border-radius: 100%;
    margin: 10px;
}

#title{
    display: flex;
    align-items: center;
}

.example-sidenav
{
    width: 20%;
    height: 100%;
    .container{
        width: 100%;
        height: 100%;
        margin-bottom: 2%;
    }
}

.example-container
{
    height: ( 100% - ( ( 7600 / 953 ) + ( 9600 / 953 ) ) );
}

#chat-bar{
    height: 99%;
}