@-webkit-keyframes spinAround {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

@keyframes spinAround {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

.button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.button.is-loading::after {
  -webkit-animation: spinAround 500ms infinite linear;
  animation: spinAround 500ms infinite linear;
  border: 2px solid #dbdbdb;
  border-radius: 290486px;
  border-right-color: transparent;
  border-top-color: transparent;
  content: "";
  display: block;
  height: 1em;
  position: relative;
  width: 1em; }

.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 1rem;
  height: 2.25em;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  line-height: 1.5;
  padding-bottom: calc(0.375em - 1px);
  padding-left: calc(0.625em - 1px);
  padding-right: calc(0.625em - 1px);
  padding-top: calc(0.375em - 1px);
  position: relative;
  vertical-align: top; }
  .button:focus, .is-focused.button, .button:active, .is-active.button {
    outline: none; }
  .button[disabled] {
    cursor: not-allowed; }

.button {
  background-color: white;
  border-color: #dbdbdb;
  border-width: 1px;
  color: #363636;
  cursor: pointer;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: calc(0.375em - 1px);
  padding-left: 0.75em;
  padding-right: 0.75em;
  padding-top: calc(0.375em - 1px);
  text-align: center;
  white-space: nowrap; }
  .button strong {
    color: inherit; }
  .button .icon, .button .icon.is-small, .button .icon.is-medium, .button .icon.is-large {
    height: 1.5em;
    width: 1.5em; }
  .button .icon:first-child:not(:last-child) {
    margin-left: calc(-0.375em - 1px);
    margin-right: 0.1875em; }
  .button .icon:last-child:not(:first-child) {
    margin-left: 0.1875em;
    margin-right: calc(-0.375em - 1px); }
  .button .icon:first-child:last-child {
    margin-left: calc(-0.375em - 1px);
    margin-right: calc(-0.375em - 1px); }
  .button:hover, .button.is-hovered {
    border-color: #b5b5b5;
    color: #363636; }
  .button:focus, .button.is-focused {
    border-color: #3273dc;
    color: #363636; }
    .button:focus:not(:active), .button.is-focused:not(:active) {
      -webkit-box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
      box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25); }
  .button:active, .button.is-active {
    border-color: #4a4a4a;
    color: #363636; }
  .button.is-text {
    background-color: transparent;
    border-color: transparent;
    color: #4a4a4a;
    text-decoration: underline; }
    .button.is-text:hover, .button.is-text.is-hovered, .button.is-text:focus, .button.is-text.is-focused {
      background-color: whitesmoke;
      color: #363636; }
    .button.is-text:active, .button.is-text.is-active {
      background-color: #e8e8e8;
      color: #363636; }
    .button.is-text[disabled] {
      background-color: transparent;
      border-color: transparent;
      -webkit-box-shadow: none;
      box-shadow: none; }
  .button.is-white {
    background-color: white;
    border-color: transparent;
    color: #0a0a0a; }
    .button.is-white:hover, .button.is-white.is-hovered {
      background-color: #f9f9f9;
      border-color: transparent;
      color: #0a0a0a; }
    .button.is-white:focus, .button.is-white.is-focused {
      border-color: transparent;
      color: #0a0a0a; }
      .button.is-white:focus:not(:active), .button.is-white.is-focused:not(:active) {
        -webkit-box-shadow: 0 0 0 0.125em rgba(255, 255, 255, 0.25);
        box-shadow: 0 0 0 0.125em rgba(255, 255, 255, 0.25); }
    .button.is-white:active, .button.is-white.is-active {
      background-color: #f2f2f2;
      border-color: transparent;
      color: #0a0a0a; }
    .button.is-white[disabled] {
      background-color: white;
      border-color: transparent;
      -webkit-box-shadow: none;
      box-shadow: none; }
    .button.is-white.is-inverted {
      background-color: #0a0a0a;
      color: white; }
      .button.is-white.is-inverted:hover {
        background-color: black; }
      .button.is-white.is-inverted[disabled] {
        background-color: #0a0a0a;
        border-color: transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
        color: white; }
    .button.is-white.is-loading::after {
      border-color: transparent transparent #0a0a0a #0a0a0a !important; }
    .button.is-white.is-outlined {
      background-color: transparent;
      border-color: white;
      color: white; }
      .button.is-white.is-outlined:hover, .button.is-white.is-outlined:focus {
        background-color: white;
        border-color: white;
        color: #0a0a0a; }
      .button.is-white.is-outlined.is-loading::after {
        border-color: transparent transparent white white !important; }
      .button.is-white.is-outlined[disabled] {
        background-color: transparent;
        border-color: white;
        -webkit-box-shadow: none;
        box-shadow: none;
        color: white; }
    .button.is-white.is-inverted.is-outlined {
      background-color: transparent;
      border-color: #0a0a0a;
      color: #0a0a0a; }
      .button.is-white.is-inverted.is-outlined:hover, .button.is-white.is-inverted.is-outlined:focus {
        background-color: #0a0a0a;
        color: white; }
      .button.is-white.is-inverted.is-outlined[disabled] {
        background-color: transparent;
        border-color: #0a0a0a;
        -webkit-box-shadow: none;
        box-shadow: none;
        color: #0a0a0a; }
  .button.is-black {
    background-color: #0a0a0a;
    border-color: transparent;
    color: white; }
    .button.is-black:hover, .button.is-black.is-hovered {
      background-color: #040404;
      border-color: transparent;
      color: white; }
    .button.is-black:focus, .button.is-black.is-focused {
      border-color: transparent;
      color: white; }
      .button.is-black:focus:not(:active), .button.is-black.is-focused:not(:active) {
        -webkit-box-shadow: 0 0 0 0.125em rgba(10, 10, 10, 0.25);
        box-shadow: 0 0 0 0.125em rgba(10, 10, 10, 0.25); }
    .button.is-black:active, .button.is-black.is-active {
      background-color: black;
      border-color: transparent;
      color: white; }
    .button.is-black[disabled] {
      background-color: #0a0a0a;
      border-color: transparent;
      -webkit-box-shadow: none;
      box-shadow: none; }
    .button.is-black.is-inverted {
      background-color: white;
      color: #0a0a0a; }
      .button.is-black.is-inverted:hover {
        background-color: #f2f2f2; }
      .button.is-black.is-inverted[disabled] {
        background-color: white;
        border-color: transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
        color: #0a0a0a; }
    .button.is-black.is-loading::after {
      border-color: transparent transparent white white !important; }
    .button.is-black.is-outlined {
      background-color: transparent;
      border-color: #0a0a0a;
      color: #0a0a0a; }
      .button.is-black.is-outlined:hover, .button.is-black.is-outlined:focus {
        background-color: #0a0a0a;
        border-color: #0a0a0a;
        color: white; }
      .button.is-black.is-outlined.is-loading::after {
        border-color: transparent transparent #0a0a0a #0a0a0a !important; }
      .button.is-black.is-outlined[disabled] {
        background-color: transparent;
        border-color: #0a0a0a;
        -webkit-box-shadow: none;
        box-shadow: none;
        color: #0a0a0a; }
    .button.is-black.is-inverted.is-outlined {
      background-color: transparent;
      border-color: white;
      color: white; }
      .button.is-black.is-inverted.is-outlined:hover, .button.is-black.is-inverted.is-outlined:focus {
        background-color: white;
        color: #0a0a0a; }
      .button.is-black.is-inverted.is-outlined[disabled] {
        background-color: transparent;
        border-color: white;
        -webkit-box-shadow: none;
        box-shadow: none;
        color: white; }
  .button.is-light {
    background-color: whitesmoke;
    border-color: transparent;
    color: #363636; }
    .button.is-light:hover, .button.is-light.is-hovered {
      background-color: #eeeeee;
      border-color: transparent;
      color: #363636; }
    .button.is-light:focus, .button.is-light.is-focused {
      border-color: transparent;
      color: #363636; }
      .button.is-light:focus:not(:active), .button.is-light.is-focused:not(:active) {
        -webkit-box-shadow: 0 0 0 0.125em rgba(245, 245, 245, 0.25);
        box-shadow: 0 0 0 0.125em rgba(245, 245, 245, 0.25); }
    .button.is-light:active, .button.is-light.is-active {
      background-color: #e8e8e8;
      border-color: transparent;
      color: #363636; }
    .button.is-light[disabled] {
      background-color: whitesmoke;
      border-color: transparent;
      -webkit-box-shadow: none;
      box-shadow: none; }
    .button.is-light.is-inverted {
      background-color: #363636;
      color: whitesmoke; }
      .button.is-light.is-inverted:hover {
        background-color: #292929; }
      .button.is-light.is-inverted[disabled] {
        background-color: #363636;
        border-color: transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
        color: whitesmoke; }
    .button.is-light.is-loading::after {
      border-color: transparent transparent #363636 #363636 !important; }
    .button.is-light.is-outlined {
      background-color: transparent;
      border-color: whitesmoke;
      color: whitesmoke; }
      .button.is-light.is-outlined:hover, .button.is-light.is-outlined:focus {
        background-color: whitesmoke;
        border-color: whitesmoke;
        color: #363636; }
      .button.is-light.is-outlined.is-loading::after {
        border-color: transparent transparent whitesmoke whitesmoke !important; }
      .button.is-light.is-outlined[disabled] {
        background-color: transparent;
        border-color: whitesmoke;
        -webkit-box-shadow: none;
        box-shadow: none;
        color: whitesmoke; }
    .button.is-light.is-inverted.is-outlined {
      background-color: transparent;
      border-color: #363636;
      color: #363636; }
      .button.is-light.is-inverted.is-outlined:hover, .button.is-light.is-inverted.is-outlined:focus {
        background-color: #363636;
        color: whitesmoke; }
      .button.is-light.is-inverted.is-outlined[disabled] {
        background-color: transparent;
        border-color: #363636;
        -webkit-box-shadow: none;
        box-shadow: none;
        color: #363636; }
  .button.is-dark {
    background-color: #363636;
    border-color: transparent;
    color: whitesmoke; }
    .button.is-dark:hover, .button.is-dark.is-hovered {
      background-color: #2f2f2f;
      border-color: transparent;
      color: whitesmoke; }
    .button.is-dark:focus, .button.is-dark.is-focused {
      border-color: transparent;
      color: whitesmoke; }
      .button.is-dark:focus:not(:active), .button.is-dark.is-focused:not(:active) {
        -webkit-box-shadow: 0 0 0 0.125em rgba(54, 54, 54, 0.25);
        box-shadow: 0 0 0 0.125em rgba(54, 54, 54, 0.25); }
    .button.is-dark:active, .button.is-dark.is-active {
      background-color: #292929;
      border-color: transparent;
      color: whitesmoke; }
    .button.is-dark[disabled] {
      background-color: #363636;
      border-color: transparent;
      -webkit-box-shadow: none;
      box-shadow: none; }
    .button.is-dark.is-inverted {
      background-color: whitesmoke;
      color: #363636; }
      .button.is-dark.is-inverted:hover {
        background-color: #e8e8e8; }
      .button.is-dark.is-inverted[disabled] {
        background-color: whitesmoke;
        border-color: transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
        color: #363636; }
    .button.is-dark.is-loading::after {
      border-color: transparent transparent whitesmoke whitesmoke !important; }
    .button.is-dark.is-outlined {
      background-color: transparent;
      border-color: #363636;
      color: #363636; }
      .button.is-dark.is-outlined:hover, .button.is-dark.is-outlined:focus {
        background-color: #363636;
        border-color: #363636;
        color: whitesmoke; }
      .button.is-dark.is-outlined.is-loading::after {
        border-color: transparent transparent #363636 #363636 !important; }
      .button.is-dark.is-outlined[disabled] {
        background-color: transparent;
        border-color: #363636;
        -webkit-box-shadow: none;
        box-shadow: none;
        color: #363636; }
    .button.is-dark.is-inverted.is-outlined {
      background-color: transparent;
      border-color: whitesmoke;
      color: whitesmoke; }
      .button.is-dark.is-inverted.is-outlined:hover, .button.is-dark.is-inverted.is-outlined:focus {
        background-color: whitesmoke;
        color: #363636; }
      .button.is-dark.is-inverted.is-outlined[disabled] {
        background-color: transparent;
        border-color: whitesmoke;
        -webkit-box-shadow: none;
        box-shadow: none;
        color: whitesmoke; }
  .button.is-primary {
    background-color: #00d1b2;
    border-color: transparent;
    color: #fff; }
    .button.is-primary:hover, .button.is-primary.is-hovered {
      background-color: #00c4a7;
      border-color: transparent;
      color: #fff; }
    .button.is-primary:focus, .button.is-primary.is-focused {
      border-color: transparent;
      color: #fff; }
      .button.is-primary:focus:not(:active), .button.is-primary.is-focused:not(:active) {
        -webkit-box-shadow: 0 0 0 0.125em rgba(0, 209, 178, 0.25);
        box-shadow: 0 0 0 0.125em rgba(0, 209, 178, 0.25); }
    .button.is-primary:active, .button.is-primary.is-active {
      background-color: #00b89c;
      border-color: transparent;
      color: #fff; }
    .button.is-primary[disabled] {
      background-color: #00d1b2;
      border-color: transparent;
      -webkit-box-shadow: none;
      box-shadow: none; }
    .button.is-primary.is-inverted {
      background-color: #fff;
      color: #00d1b2; }
      .button.is-primary.is-inverted:hover {
        background-color: #f2f2f2; }
      .button.is-primary.is-inverted[disabled] {
        background-color: #fff;
        border-color: transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
        color: #00d1b2; }
    .button.is-primary.is-loading::after {
      border-color: transparent transparent #fff #fff !important; }
    .button.is-primary.is-outlined {
      background-color: transparent;
      border-color: #00d1b2;
      color: #00d1b2; }
      .button.is-primary.is-outlined:hover, .button.is-primary.is-outlined:focus {
        background-color: #00d1b2;
        border-color: #00d1b2;
        color: #fff; }
      .button.is-primary.is-outlined.is-loading::after {
        border-color: transparent transparent #00d1b2 #00d1b2 !important; }
      .button.is-primary.is-outlined[disabled] {
        background-color: transparent;
        border-color: #00d1b2;
        -webkit-box-shadow: none;
        box-shadow: none;
        color: #00d1b2; }
    .button.is-primary.is-inverted.is-outlined {
      background-color: transparent;
      border-color: #fff;
      color: #fff; }
      .button.is-primary.is-inverted.is-outlined:hover, .button.is-primary.is-inverted.is-outlined:focus {
        background-color: #fff;
        color: #00d1b2; }
      .button.is-primary.is-inverted.is-outlined[disabled] {
        background-color: transparent;
        border-color: #fff;
        -webkit-box-shadow: none;
        box-shadow: none;
        color: #fff; }
  .button.is-link {
    background-color: #3273dc;
    border-color: transparent;
    color: #fff; }
    .button.is-link:hover, .button.is-link.is-hovered {
      background-color: #276cda;
      border-color: transparent;
      color: #fff; }
    .button.is-link:focus, .button.is-link.is-focused {
      border-color: transparent;
      color: #fff; }
      .button.is-link:focus:not(:active), .button.is-link.is-focused:not(:active) {
        -webkit-box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
        box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25); }
    .button.is-link:active, .button.is-link.is-active {
      background-color: #2366d1;
      border-color: transparent;
      color: #fff; }
    .button.is-link[disabled] {
      background-color: #3273dc;
      border-color: transparent;
      -webkit-box-shadow: none;
      box-shadow: none; }
    .button.is-link.is-inverted {
      background-color: #fff;
      color: #3273dc; }
      .button.is-link.is-inverted:hover {
        background-color: #f2f2f2; }
      .button.is-link.is-inverted[disabled] {
        background-color: #fff;
        border-color: transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
        color: #3273dc; }
    .button.is-link.is-loading::after {
      border-color: transparent transparent #fff #fff !important; }
    .button.is-link.is-outlined {
      background-color: transparent;
      border-color: #3273dc;
      color: #3273dc; }
      .button.is-link.is-outlined:hover, .button.is-link.is-outlined:focus {
        background-color: #3273dc;
        border-color: #3273dc;
        color: #fff; }
      .button.is-link.is-outlined.is-loading::after {
        border-color: transparent transparent #3273dc #3273dc !important; }
      .button.is-link.is-outlined[disabled] {
        background-color: transparent;
        border-color: #3273dc;
        -webkit-box-shadow: none;
        box-shadow: none;
        color: #3273dc; }
    .button.is-link.is-inverted.is-outlined {
      background-color: transparent;
      border-color: #fff;
      color: #fff; }
      .button.is-link.is-inverted.is-outlined:hover, .button.is-link.is-inverted.is-outlined:focus {
        background-color: #fff;
        color: #3273dc; }
      .button.is-link.is-inverted.is-outlined[disabled] {
        background-color: transparent;
        border-color: #fff;
        -webkit-box-shadow: none;
        box-shadow: none;
        color: #fff; }
  .button.is-info {
    background-color: #209cee;
    border-color: transparent;
    color: #fff; }
    .button.is-info:hover, .button.is-info.is-hovered {
      background-color: #1496ed;
      border-color: transparent;
      color: #fff; }
    .button.is-info:focus, .button.is-info.is-focused {
      border-color: transparent;
      color: #fff; }
      .button.is-info:focus:not(:active), .button.is-info.is-focused:not(:active) {
        -webkit-box-shadow: 0 0 0 0.125em rgba(32, 156, 238, 0.25);
        box-shadow: 0 0 0 0.125em rgba(32, 156, 238, 0.25); }
    .button.is-info:active, .button.is-info.is-active {
      background-color: #118fe4;
      border-color: transparent;
      color: #fff; }
    .button.is-info[disabled] {
      background-color: #209cee;
      border-color: transparent;
      -webkit-box-shadow: none;
      box-shadow: none; }
    .button.is-info.is-inverted {
      background-color: #fff;
      color: #209cee; }
      .button.is-info.is-inverted:hover {
        background-color: #f2f2f2; }
      .button.is-info.is-inverted[disabled] {
        background-color: #fff;
        border-color: transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
        color: #209cee; }
    .button.is-info.is-loading::after {
      border-color: transparent transparent #fff #fff !important; }
    .button.is-info.is-outlined {
      background-color: transparent;
      border-color: #209cee;
      color: #209cee; }
      .button.is-info.is-outlined:hover, .button.is-info.is-outlined:focus {
        background-color: #209cee;
        border-color: #209cee;
        color: #fff; }
      .button.is-info.is-outlined.is-loading::after {
        border-color: transparent transparent #209cee #209cee !important; }
      .button.is-info.is-outlined[disabled] {
        background-color: transparent;
        border-color: #209cee;
        -webkit-box-shadow: none;
        box-shadow: none;
        color: #209cee; }
    .button.is-info.is-inverted.is-outlined {
      background-color: transparent;
      border-color: #fff;
      color: #fff; }
      .button.is-info.is-inverted.is-outlined:hover, .button.is-info.is-inverted.is-outlined:focus {
        background-color: #fff;
        color: #209cee; }
      .button.is-info.is-inverted.is-outlined[disabled] {
        background-color: transparent;
        border-color: #fff;
        -webkit-box-shadow: none;
        box-shadow: none;
        color: #fff; }
  .button.is-success {
    background-color: #23d160;
    border-color: transparent;
    color: #fff; }
    .button.is-success:hover, .button.is-success.is-hovered {
      background-color: #22c65b;
      border-color: transparent;
      color: #fff; }
    .button.is-success:focus, .button.is-success.is-focused {
      border-color: transparent;
      color: #fff; }
      .button.is-success:focus:not(:active), .button.is-success.is-focused:not(:active) {
        -webkit-box-shadow: 0 0 0 0.125em rgba(35, 209, 96, 0.25);
        box-shadow: 0 0 0 0.125em rgba(35, 209, 96, 0.25); }
    .button.is-success:active, .button.is-success.is-active {
      background-color: #20bc56;
      border-color: transparent;
      color: #fff; }
    .button.is-success[disabled] {
      background-color: #23d160;
      border-color: transparent;
      -webkit-box-shadow: none;
      box-shadow: none; }
    .button.is-success.is-inverted {
      background-color: #fff;
      color: #23d160; }
      .button.is-success.is-inverted:hover {
        background-color: #f2f2f2; }
      .button.is-success.is-inverted[disabled] {
        background-color: #fff;
        border-color: transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
        color: #23d160; }
    .button.is-success.is-loading::after {
      border-color: transparent transparent #fff #fff !important; }
    .button.is-success.is-outlined {
      background-color: transparent;
      border-color: #23d160;
      color: #23d160; }
      .button.is-success.is-outlined:hover, .button.is-success.is-outlined:focus {
        background-color: #23d160;
        border-color: #23d160;
        color: #fff; }
      .button.is-success.is-outlined.is-loading::after {
        border-color: transparent transparent #23d160 #23d160 !important; }
      .button.is-success.is-outlined[disabled] {
        background-color: transparent;
        border-color: #23d160;
        -webkit-box-shadow: none;
        box-shadow: none;
        color: #23d160; }
    .button.is-success.is-inverted.is-outlined {
      background-color: transparent;
      border-color: #fff;
      color: #fff; }
      .button.is-success.is-inverted.is-outlined:hover, .button.is-success.is-inverted.is-outlined:focus {
        background-color: #fff;
        color: #23d160; }
      .button.is-success.is-inverted.is-outlined[disabled] {
        background-color: transparent;
        border-color: #fff;
        -webkit-box-shadow: none;
        box-shadow: none;
        color: #fff; }
  .button.is-warning {
    background-color: #ffdd57;
    border-color: transparent;
    color: rgba(0, 0, 0, 0.7); }
    .button.is-warning:hover, .button.is-warning.is-hovered {
      background-color: #ffdb4a;
      border-color: transparent;
      color: rgba(0, 0, 0, 0.7); }
    .button.is-warning:focus, .button.is-warning.is-focused {
      border-color: transparent;
      color: rgba(0, 0, 0, 0.7); }
      .button.is-warning:focus:not(:active), .button.is-warning.is-focused:not(:active) {
        -webkit-box-shadow: 0 0 0 0.125em rgba(255, 221, 87, 0.25);
        box-shadow: 0 0 0 0.125em rgba(255, 221, 87, 0.25); }
    .button.is-warning:active, .button.is-warning.is-active {
      background-color: #ffd83d;
      border-color: transparent;
      color: rgba(0, 0, 0, 0.7); }
    .button.is-warning[disabled] {
      background-color: #ffdd57;
      border-color: transparent;
      -webkit-box-shadow: none;
      box-shadow: none; }
    .button.is-warning.is-inverted {
      background-color: rgba(0, 0, 0, 0.7);
      color: #ffdd57; }
      .button.is-warning.is-inverted:hover {
        background-color: rgba(0, 0, 0, 0.7); }
      .button.is-warning.is-inverted[disabled] {
        background-color: rgba(0, 0, 0, 0.7);
        border-color: transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
        color: #ffdd57; }
    .button.is-warning.is-loading::after {
      border-color: transparent transparent rgba(0, 0, 0, 0.7) rgba(0, 0, 0, 0.7) !important; }
    .button.is-warning.is-outlined {
      background-color: transparent;
      border-color: #ffdd57;
      color: #ffdd57; }
      .button.is-warning.is-outlined:hover, .button.is-warning.is-outlined:focus {
        background-color: #ffdd57;
        border-color: #ffdd57;
        color: rgba(0, 0, 0, 0.7); }
      .button.is-warning.is-outlined.is-loading::after {
        border-color: transparent transparent #ffdd57 #ffdd57 !important; }
      .button.is-warning.is-outlined[disabled] {
        background-color: transparent;
        border-color: #ffdd57;
        -webkit-box-shadow: none;
        box-shadow: none;
        color: #ffdd57; }
    .button.is-warning.is-inverted.is-outlined {
      background-color: transparent;
      border-color: rgba(0, 0, 0, 0.7);
      color: rgba(0, 0, 0, 0.7); }
      .button.is-warning.is-inverted.is-outlined:hover, .button.is-warning.is-inverted.is-outlined:focus {
        background-color: rgba(0, 0, 0, 0.7);
        color: #ffdd57; }
      .button.is-warning.is-inverted.is-outlined[disabled] {
        background-color: transparent;
        border-color: rgba(0, 0, 0, 0.7);
        -webkit-box-shadow: none;
        box-shadow: none;
        color: rgba(0, 0, 0, 0.7); }
  .button.is-danger {
    background-color: #ff3860;
    border-color: transparent;
    color: #fff; }
    .button.is-danger:hover, .button.is-danger.is-hovered {
      background-color: #ff2b56;
      border-color: transparent;
      color: #fff; }
    .button.is-danger:focus, .button.is-danger.is-focused {
      border-color: transparent;
      color: #fff; }
      .button.is-danger:focus:not(:active), .button.is-danger.is-focused:not(:active) {
        -webkit-box-shadow: 0 0 0 0.125em rgba(255, 56, 96, 0.25);
        box-shadow: 0 0 0 0.125em rgba(255, 56, 96, 0.25); }
    .button.is-danger:active, .button.is-danger.is-active {
      background-color: #ff1f4b;
      border-color: transparent;
      color: #fff; }
    .button.is-danger[disabled] {
      background-color: #ff3860;
      border-color: transparent;
      -webkit-box-shadow: none;
      box-shadow: none; }
    .button.is-danger.is-inverted {
      background-color: #fff;
      color: #ff3860; }
      .button.is-danger.is-inverted:hover {
        background-color: #f2f2f2; }
      .button.is-danger.is-inverted[disabled] {
        background-color: #fff;
        border-color: transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
        color: #ff3860; }
    .button.is-danger.is-loading::after {
      border-color: transparent transparent #fff #fff !important; }
    .button.is-danger.is-outlined {
      background-color: transparent;
      border-color: #ff3860;
      color: #ff3860; }
      .button.is-danger.is-outlined:hover, .button.is-danger.is-outlined:focus {
        background-color: #ff3860;
        border-color: #ff3860;
        color: #fff; }
      .button.is-danger.is-outlined.is-loading::after {
        border-color: transparent transparent #ff3860 #ff3860 !important; }
      .button.is-danger.is-outlined[disabled] {
        background-color: transparent;
        border-color: #ff3860;
        -webkit-box-shadow: none;
        box-shadow: none;
        color: #ff3860; }
    .button.is-danger.is-inverted.is-outlined {
      background-color: transparent;
      border-color: #fff;
      color: #fff; }
      .button.is-danger.is-inverted.is-outlined:hover, .button.is-danger.is-inverted.is-outlined:focus {
        background-color: #fff;
        color: #ff3860; }
      .button.is-danger.is-inverted.is-outlined[disabled] {
        background-color: transparent;
        border-color: #fff;
        -webkit-box-shadow: none;
        box-shadow: none;
        color: #fff; }
  .button.is-small {
    border-radius: 2px;
    font-size: 0.75rem; }
  .button.is-medium {
    font-size: 1.25rem; }
  .button.is-large {
    font-size: 1.5rem; }
  .button[disabled] {
    background-color: white;
    border-color: #dbdbdb;
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: 0.5; }
  .button.is-fullwidth {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%; }
  .button.is-loading {
    color: transparent !important;
    pointer-events: none; }
    .button.is-loading::after {
      position: absolute;
      left: calc(50% - (1em / 2));
      top: calc(50% - (1em / 2));
      position: absolute !important; }
  .button.is-static {
    background-color: whitesmoke;
    border-color: #dbdbdb;
    color: #7a7a7a;
    -webkit-box-shadow: none;
    box-shadow: none;
    pointer-events: none; }
  .button.is-rounded {
    border-radius: 290486px;
    padding-left: 1em;
    padding-right: 1em; }

.buttons {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }
  .buttons .button {
    margin-bottom: 0.5rem; }
    .buttons .button:not(:last-child) {
      margin-right: 0.5rem; }
  .buttons:last-child {
    margin-bottom: -0.5rem; }
  .buttons:not(:last-child) {
    margin-bottom: 1rem; }
  .buttons.has-addons .button:not(:first-child) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0; }
  .buttons.has-addons .button:not(:last-child) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    margin-right: -1px; }
  .buttons.has-addons .button:last-child {
    margin-right: 0; }
  .buttons.has-addons .button:hover, .buttons.has-addons .button.is-hovered {
    z-index: 2; }
  .buttons.has-addons .button:focus, .buttons.has-addons .button.is-focused, .buttons.has-addons .button:active, .buttons.has-addons .button.is-active, .buttons.has-addons .button.is-selected {
    z-index: 3; }
    .buttons.has-addons .button:focus:hover, .buttons.has-addons .button.is-focused:hover, .buttons.has-addons .button:active:hover, .buttons.has-addons .button.is-active:hover, .buttons.has-addons .button.is-selected:hover {
      z-index: 4; }
  .buttons.has-addons .button.is-expanded {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }
  .buttons.is-centered {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .buttons.is-right {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }

.container {
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
  background-color: white;
  width: 55%; }

.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.explication {
  text-align: left; }

#chat {
  border-radius: 100%;
  margin: 10px; }

#title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.example-sidenav {
  width: 20%;
  height: 100%; }
  .example-sidenav .container {
    width: 100%;
    height: 100%;
    margin-bottom: 2%; }

.example-container {
  height: 81.95173%; }

#chat-bar {
  height: 99%; }
