@import '../../../node_modules/bulma/sass/utilities/_all';

@import '../../../node_modules/bulma/sass/layout/_all';

.container
{
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    background: white;
}

.hero {
    margin-top: 20px;
    opacity: 0.8;
}

#page {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}